*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
}

.body-registro{
    background: url(../images/gatitos.jpg);
    background-size: cover;
    height: 100vh;
       
}

.body-registro1{
    margin-top: 50px;
    padding-bottom: 50px;
    
}


.circular--landscape {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 25%;
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -15px;
  }

.registro-contenedor{
    background: rgba(0, 0, 0, 0.8);
    width: 60%;
    height: 60%;
    border-radius: 8px;
    margin:auto;
    padding: 25px;
   

}

.registro-contenedor2{
    display: flex;
    
}

.input-registro{
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    border-bottom: orange solid 2px ;
    border-radius: 8px;
    color: white;
    margin: 10px 0;
}



.registro-nombre{
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registro-correo{
    width: 50%;
    margin: 10px;
}

.btn-submit{
    width: 150px ;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor:pointer;
    text-align: center;
    margin: 0 25%;
    margin-bottom: 25px;
}

.registro-contenedor2 .registro-nombre .circular--landscape img{
    cursor: pointer;
}

.registro-titulo{
    
    text-align: center;
    align-items: center;
    color: white;
    border-top: orange solid 2px;
    border-bottom: orange solid 2px;
    padding: 20px;

}

.btn-registrarser{
    width: 400px ;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor:pointer; 
}

.contenedor-btn-registrarser{
    text-align: center;
}
.label-registro1{
    color: rgb(235, 235, 235);
    margin-top: 30px ;
    font-size: 18px;
}

@media(max-width:580px){

    .body-registro{
        background: url(../images/login.jpg);

        height: auto;
        width: 100%;
    }
    



    .registro-contenedor{
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 60%;
        border-radius: 8px;

    
    }



        .registro-contenedor2{
            display: flex;
            flex-direction: column;
            width: 100%;
           
        }
    
        .registro-nombre{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .registro-correo{
            width: 100%;
            margin: 5px;
        }
    
        .btn-registrarser{
            width: 150px ;
            color: white;
            background-color: orange;
            border: none;
            border-radius: 5px;
            padding: 5px 0;
            cursor:pointer; 
        }
    
        .contenedor-btn-registrarser{
            text-align: center;
        }

}



 @media(max-width:768px) {
    .registro-contenedor{
        background: rgba(0, 0, 0, 0.8);
        width: 80%;
        height: 60%;
        border-radius: 8px;
    
        
       
    
    }

        .registro-contenedor2{
            display: flex;
            
            width: 100%;
        }
    
        .registro-nombre{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .registro-correo{
            width: 100%;
            margin: 5px;
        }
    
        .btn-registrarser{
            width: 150px ;
            color: white;
            background-color: orange;
            border: none;
            border-radius: 5px;
            padding: 5px 0;
            cursor:pointer; 
        }
    
        .contenedor-btn-registrarser{
            text-align: center;
        }
    
    
    
    
    



}