<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="description" content="ostacor">
     <meta name="keywords" content="HTML5,CSS3,Bootstrap,JavaScript,jquery">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1">
          
           <title>MarkPet</title>
           <!-- Google Font and font-awesome -->
           <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
           <link href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,400i,500,600,700" rel="stylesheet">
           <!-- bootstrap -->
           <link href="/css/bootstrap.min.css" rel="stylesheet">
           <!-- Custom CSS: custom Styles -->
           <link href="/css/animate.css" rel="stylesheet">
           <link href="/css/main.css" rel="stylesheet">
           <link href="/css/menu.css" rel="stylesheet">
           <link rel="stylesheet" href="/css/menuAdd.css">
         <head>
   <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ostacor">
    <meta name="keywords" content="HTML5,CSS3,Bootstrap,JavaScript,jquery">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
         
          <title>MarkPet</title>
          <!-- Google Font and font-awesome -->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,400i,500,600,700" rel="stylesheet">
          <!-- bootstrap -->
          <link href="/css/bootstrap.min.css" rel="stylesheet">
          <!-- Custom CSS: custom Styles -->
          <link href="/css/animate.css" rel="stylesheet">
          <link href="/css/main.css" rel="stylesheet">
          <link href="/css/menu.css" rel="stylesheet">
          <link rel="stylesheet" href="/css/404.css">
        
                
          <script src="https://kit.fontawesome.com/9533c29d60.js" crossorigin="anonymous"></script>
  </head>
                 
           <script src="https://kit.fontawesome.com/9533c29d60.js" crossorigin="anonymous"></script>
   </head>
<!-- Body Start-->
<body>


<div class="hit-the-floor">404</div>

<div class="alternative-versions absolute bottom-0 w-full flex justify-center underline space-x-4 p-12">
  <p>
    La pagina que esta buscando se ha extraviado! 
  </p>
</div>
   <!--footer-->
<%- include("./partials/footer") %>
<!--footer end-->

</section>
<!-- Contact Section End -->
   
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- js -->
    <script src="/js/animate.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/menu.js"></script>

    </body>
  <!-- Body Ended -->
</html>
