<head>
   <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ostacor">
    <meta name="keywords" content="HTML5,CSS3,Bootstrap,JavaScript,jquery">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
         
          <title>MarkPet</title>
          <!-- Google Font and font-awesome -->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,400i,500,600,700" rel="stylesheet">
          <!-- bootstrap -->
          <link href="/css/bootstrap.min.css" rel="stylesheet">
          <!-- Custom CSS: custom Styles -->
          <link href="/css/animate.css" rel="stylesheet">
          <link href="/css/main.css" rel="stylesheet">
          <link href="/css/menu.css" rel="stylesheet">
          <link rel="stylesheet" href="/css/menuAdd.css">
          <link href="/css/login.css" rel="stylesheet">
          <link rel="stylesheet" href="/css/shop.css">
          <link href="/css/productShop.css" rel="stylesheet">
          <link href="/css/productCart.css" rel="stylesheet">
          <link rel="stylesheet" href="/css/registro.css">
          <link rel="stylesheet" href="/css/profile.css">
          <link rel="stylesheet" href="/css/inventario.css">
                
          <script src="https://kit.fontawesome.com/9533c29d60.js" crossorigin="anonymous"></script>
  </head>